* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {

	background-color: #298EFF;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

footer {
	background-color: #298EFF;
	color: white;
	display: inline-flex;
	padding: 20px 20px 20px 20px;
	margin: 0px 20px 0px 20px;

}

h1{
	font-family: 'Roboto', sans-serif;
	font-size: 32;
	font-weight: 800;
	font-style: bold;
}

h2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: middle;

}

header {
	color: black;
	background-color: white;
	width: 100%;
	display: block;
	overflow: hidden;
}

header li {
	display: inline-block;
	text-decoration: none;	
}

header li a {
	color: black;
	text-decoration: none;
}

img {
	display: 100%;
}

nav {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
}

p {
	font-family: 'Roboto', sans-serif;
	color: white;
	display: block;
}

li {
    list-style-type: none;
    list-style-type: inline;
    margin: 0;
    padding: 16px;
    overflow: hidden;
}

li a {
	display: block;
}

#banner {
	background-color: #0CACE8;
	height: 6em;
	width: 100%;
}

#banner h2 {
	font-size: 1.5em;
	color: white;
	padding: 1em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#biz_services {
	overflow: hidden;
}

#biz_services li {
	overflow: hidden;
	display: block;
}

.biz_widget {
	align-content: center;
}

.biz_widget a {
	text-align: center;
	align-content: center;
	color: black;
	font-style: bold 800;
	text-decoration: none;
	display: block;
}

.biz_widget h3 {
	text-decoration: none;
	text-align: center;
	align-content: center;
}

.biz_widget p {
	padding: 20px;
}

#mailing_list {
	background-color: #003B7F;
	width: 100%;
	position: relative;
	color: white;
	padding: 40px;
}

#mailing_list h2 {
	font-size: 20px;
}

#nav {
	font-family: 'Roboto', sans-serif;
	list-style-type: none;
    margin: 0;
    overflow: hidden;
}

#section_1 {
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), 
		rgba(255, 255, 255, 0.5)), url(../images/3d_shoes.jpg);
	background-size: cover;
	  /* Set up proportionate scaling */
  	width: 100%;
  	height: 600px;
  	position: relative;
}

#section_2 {
	  /* Set up proportionate scaling */
	background-color: white;
  	width: 100%;
  	position: relative;
  	height: relative;
}

#section_2 p {
	  /* Set up proportionate scaling */
	color: black;
  	padding: 25px: 
  	margin: 25px;
  	margin-top: 2em;
}

#section_2_wrapper {
	text-align: center;
	align-content: center;
	display: inline-flex;
	padding: 25px;
}

#slogan {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: black;
}

.vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#wrapper {

}
