* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {

	background-color: #298EFF;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

footer {
	background-color: #298EFF;
	color: white;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 100%;

}

h1{
	font-family: 'Roboto', sans-serif;
	font-size: 32;
	font-weight: 800;
	font-style: bold;
}

h2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: middle;

}

header {
	color: black;
	background-color: white;
	width: 100%;
	display: block;
	overflow: hidden;
}

header li {
	display: inline-block;
	text-decoration: none;	
}

header li a {
	color: black;
	text-decoration: none;
}

nav {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    display: inline-flex;
}

p {
	font-family: 'Roboto', sans-serif;
	color: white;
	display: block;
}

li {
    list-style-type: none;
    list-style-type: inline;
    margin: 0;
    padding: 16px;
    overflow: hidden;
}

li a {
	display: block;
}

#banner {
	background-color: #0CACE8;
	height: 6em;
	width: 100%;
}

#banner h2 {
	font-size: 1.5em;
	color: white;
	padding: 1em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#biz_services {
	overflow: hidden;
}

#biz_services li {
	overflow: hidden;
	display: block;
}

.biz_widget {
	align-content: center;
	text-align: center;
}

.biz_widget a {
	text-align: center;
	align-content: center;
	color: black;
	font-style: bold 800;
	text-decoration: none;
	display: block;
}

.biz_widget h3 {
	text-decoration: none;
	text-align: center;
	align-content: center;
	margin-top: 20px;
}

.biz_widget img {
	margin-top: 20px;
}

.biz_widget p {
	margin: 20px;
}

#footer_wrapper {
	width: 100%;
	height: 100%;
}

#footer_wrapper a{
	color: white;
}

#footer_box_1 {
	float: left;
	display: inline-block;
	background-color: #0089FF;
	width:25%;
	height: 100%;
	padding: 20px;
}

#footer_box_2 {
	background-color: #0067BF;
	float: left;
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 20px;
}

#footer_box_3 {
	background-color: #00457F;
	float: left;
	display: inline-block;
	width:25%;
	height: 100%;
	padding: 20px;
}

#mailing_list {
	background-color: #1A5A9B;
	width: 100%;
	position: relative;
	color: white;
	padding: 40px;
}

#mailing_list h2 {
	font-size: 20px;
}

.myButton_a {
	background-color: #7DFFDE;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #0DFFB4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:16px 31px;
	margin-left: 4em;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	width: 100px;
}
.myButton_a:hover {
	background-color:#0DFFB4;
}
.myButton_a:active {
	position:relative;
	top:1px;
}

.myButton_b {
	background-color: #71E5E8;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #0CE8E2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton_b:hover {
	background-color:#0CE8E2;
}
.myButton_b:active {
	position:relative;
	top:1px;
}

.myButton_c {
	background-color: #89DDFF;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #00C3FF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton_c:hover {
	background-color:#00C3FF;
}
.myButton_c:active {
	position:relative;
	top:1px;
}

.myButton_d {
	background-color: #71A6E8;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #0C7AE8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton_d:hover {
	background-color:#0C7AE8;
}
.myButton_d:active {
	position:relative;
	top:1px;
}

#nav {
	font-family: 'Roboto', sans-serif;
	list-style-type: none;
    margin: 0;
    overflow: hidden;
}

#section_1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.3)), url(../images/3d_shoes2.jpeg);
	background-size: all;
	  /* Set up proportionate scaling */
  	height: 500px;
}

#section_2 {
	  /* Set up proportionate scaling */
	background-color: white;
  	width: 100%;
  	position: relative;
  	height: relative;
}

#section_2 p {
	  /* Set up proportionate scaling */
	color: black;
  	padding: 25px: 
  	margin: 25px;
  	margin-top: 2em;
}

#section_2_wrapper {
	text-align: center;
	align-content: center;
	display: inline-flex;
	padding: 25px;
	margin-bottom: 20px;
}

#slogan {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: white;
}

.vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 22px;
}

#wrapper {
	height: 100%;
}
