body {

	background-color: #298EFF;
	background-image: url("https://media.glassdoor.com/o/864049/formlabs-office.jpg");
	text-align: center;
	font-family: Arial; 
}

h1{
	font-size: 18;
	font-weight: 600;
}

p {
	font-family: Helvetica;
}

ul{
	list-style-position: inside;
}

li{
	font-weight: 800;
	color: #26507F;
	text-align: center;
}

img {

}

#slogan {
	font-style: italic;

}