body {

	background-color: #298EFF;
	text-align: center;
	font-family: Arial; 
}

h1{
	font-size: 18;
	font-weight: 600;
}

p {
	font-family: "Arial Narrow";
}

ul{
	color: #26507F;
	text-align: center;
}

li{
	font-weight: 800;
	text-align: center;
}

img {

}

#slogan {
	font-style: italic;

}